@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --tuna: #34313D;
    --dark-purple: #3A3054;
    --purple: #4B3F6B;
    --grey: #9E9AA8;
    --offwhite: #EFF1F7;
    --light-blue: #2BD0D0;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

#hero {
    overflow: visible;
    background-image: url('../images/illustration-working.svg');
    background-repeat: no-repeat;
    background-position: top 12rem right -14rem;
}

.hero-content {
    max-width: 1200px;
    margin-inline: auto;
}

header {
    display: flex;
    margin-top: 48px;
}

.logo-img {
    max-width: none;
}

#main-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-navigation ul {
    padding: 0;
    margin-left: 48px;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: grey;
}

#main-login-ctn a {
    padding: 9px 24px;
    border-radius: 32px;
}

.sign-up-link {
    margin-left: 6px;
}

.title-ctn {
    margin-top: 14rem;
    max-width: 600px;
}

.title-ctn h1 {
    letter-spacing: -2px;
    line-height: 90px;
}

.title-ctn h3 {
    margin-top: 5px;
    letter-spacing: 0.15px;
    line-height: 36px;
}

.get-started-btn {
    display: block;
    margin-top: 40px;
    width: max-content;
    border-radius: 32px;
    padding: 12px 40px;
}

.shortening-form {
    transform: translate(0, 50%);
    margin: 81px auto 0 auto;
    width: 100%;
    max-width: 1200px;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: 100%;
    background-color: var(--dark-purple);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 0 64px; 
    gap: 24px;
    border-radius: 10px;
}

.shortening-input {
    margin: 52px 0;
    padding: 14px 32px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.shortening-btn {
    margin: 52px 0;
    white-space: nowrap;
    padding: 14px 32px;
    color: white;
    border: none;
    border-radius: 10px;
}